/*Generales*/

*{
    font-family: 'Kiwi Maru', serif;
}

body{
    background: linear-gradient(#5CB3C1, #01587A);
    min-height: auto;
}


main{
    background-color: #fefefe;
    border-radius: 20px;
    margin: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;/* para alinear elmentos al centro de la pagina*/
}

h2{
    text-align: center;
    color: #01587A;
    font-size: medium;
}

#root{
    display:flex;
    justify-content: center;
    align-content: center;
}

/*De las pantallas de login, inscripcion, etc*/
/*inscripción*/

#logo{
    width: 55%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 22%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

li{
    display: flex;
    justify-content: center;
    margin-top: 0rem;
    align-items: center;
    
}

input{
    width: 75%;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: small;
    margin:2%;
    background-color:#fefefe;
    border-color: #01587A;
    color:#01587A;
}

#register {
    list-style-type:none;
    padding-inline-start:0%;
   
}


button{
    display:flex;
    text-align: center;
    border-radius: 15px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background: linear-gradient(#5CB3C1, #01587A);
    color:#fefefe;
    padding: 0.5rem; 
    border-color: #0587ba;    
}

button:active{
    background: linear-gradient(#f2dfa2,#f3ba00);
    border-color: #ffc400; 
    color:#fefefe;
    padding: 0.5rem; 
    margin-bottom: 1%; 
    transform: translateY(2px) translateX(2px);
}

/*preferences*/

#logo2{
    width: 40%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 30%;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#pref{
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.liPref{
    margin-top: -2rem;
}
.ask{
    background:#e1e8ec;
    color:#01587A;
    text-align: center;
    padding:1rem;
    border-radius:29px;
    font-size: smaller;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: #aac3cd;
    width: 100%;
}
.ask:hover{
    background-color: #83bac2;
}

button.ask:active{
    background-color: #5CB3C1;
    transform: translateY(2px) translateX(2px);
}

.options {
    padding-left: 1rem;
}

.icon {
    display:flex;
    margin-top:2px;
    margin-left:2px;
    width:40px;
    height:40px;
}


/*Login*/

.login-title{
font-size: large;

}


.forgot-password{
    font-size: small;
    margin-left: 6%;
    margin-bottom: 2rem;

}

.sign-up{
    font-size: small;
    margin-right: 6%;
    margin-bottom: 2rem;
   
}

.login-button{
  
  margin: 0 auto; /* Centrar horizontalmente el botón en su contenedor*/ 
  margin-top: 2rem;
  margin-bottom: 1rem;
  
} 

.buttonsShowHidePassword{
    border: 0px;
    width: 24px;
    height: 24px;
    margin-top:-35px;
    margin-left: 80%;
    top:0;
    position: relative;
    z-index: 2;
    margin-bottom: 1%;
}

 #logo-google{
    padding-inline: 1rem;
    margin-bottom: 2rem; 
 }

 .iniciar-sesion-con-google{
    font-size: smaller;
}

.eye{
    border:none;
    margin-top: -2px;
    margin-bottom: 2px;
    width: 24px;
    height: 24px;
    margin-left: -21px;
    position: relative;
    z-index: 2;
    background-image: url(./assets/openEye.png);
}

.eye:active{
    background-image: url(./assets/shutEye.png);
}

#btnSendEmail{
    margin-top: 2rem;
    margin-left: 29%;
    margin-bottom: 2rem;
}

.buttonRecover{
    margin-top: 3rem;
    margin-left: 23%;
    margin-bottom: 3rem;
}

.logoRecover{
    width: 56%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 20%;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

#imgError{
    width: 50%;
    padding:20%;
}

h3{
    padding-top: 1rem;
    padding-bottom: 2rem;
    color:#01587A;
}

.timeLineStyle{
    background-color: #99d8dd;
    min-height: 600px;
    min-width: 100%;
    border-radius: 20px;
    padding:10px;
}

.timeLineLogo{
    display: flex;
    height: 10%; 
    margin: 20px;
    margin-bottom: 95px;
}

#btnClose{
   display:flex;
   width: 40px;
   margin-left: 85%;
   margin-top: -155px;
   padding-bottom: 20px;
}

.postSection{
    background-color: #e1e8ec;
    min-height: 600px;
    min-width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
}

#commentInput, #commentList {
    width: 80%;
    border-radius: 10px; 
    margin: 10%;
    resize: none; 
    font-size: 14px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
   padding: 10px;
    border: none;
    margin-bottom: 3px;

}

#sendbutton{

    align-self: flex-end;
   
}

#commentList{
   list-style-type: none;
   padding: 0;
   display: none;

}

/* Estilo para los botones del selector */
select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60px;
    size: 5;
    overflow-y: scroll;
    z-index: 1000;
  }
  
  /* Estilo para el contenedor de comentarios */
  .commentContainer {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-height: 100px;
  }
  
  /* Estilo para el área de comentario */
  .commentTextarea {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    resize: none;
    overflow-y: auto;
  }
  
  /* Estilo para el contenedor de botones */
  .commentButtons {
    display: flex;
    justify-content: flex-end;
  }

  .action-link {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    color: #007bff; /* Color de enlace típico, puedes personalizarlo */
  }
  
  .action-link:hover {
    text-decoration: none; /* Evita que el subrayado se muestre al pasar el mouse */
    color: #0056b3; /* Cambia el color al pasar el mouse, si lo deseas */
  }

/*Cambios Responsive */

@media screen and (max-width: 360px) {

    body{
    min-height: 600px;
    }

    .forgot-password{
        font-size: x-small;
    }
    
    .sign-up{
        font-size: x-small;
        margin-right: 2%;
    }

    .buttonsShowHidePassword{
        margin-top:-31px;
        margin-left: 77%;
    }

    .icon {
        margin-top:4px;
    }

    .ask{
       font-size: x-small;
    }

    .timeLineLogo{
        display: flex;
        height: 10%; 
        margin: 5px;
        margin-bottom: 122px;
    }

    #btnClose{
        width: 10%;
        margin-left: 84%;
        margin-top: -179px;
        margin-bottom: 35px;
        padding-bottom: 0px;
    }
}

